<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Error set</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/color.css">
</head>

<body>

  <div class="container ">

    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <a class="navbar-brand" href="/">Admin</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/about">เกี่ยวกับ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data">ข้อมูล</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/User">จัดการผู้ใช้</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">logout</a>
        </li>
      </ul>
    </nav>
